/* Universal Styles */

html {
  font-family: "Arial", sans-serif;
}

body {
  padding-bottom: 7.75rem;
}

h1,
  h2,
  h3 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #EEB111;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: darkgray;
}

img,
  video {
  display: block;
  height: auto;
}

.mobile {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  overflow: hidden;
  padding: 2rem 1.5rem;
  width: 60%;
  font-family: "Ubuntu", sans-serif;
}

.banner img,
  .banner video {
  max-width: 100%;
}

.menu {
  width: 40%;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: background-color 0.25s;
          transition: background-color 0.25s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.menu-item:hover {
  background: #EEB111;
}

.menu-item img {
  max-width: 35%;
  height: auto;
  margin: 1rem;
}

.menu-item .details h3 a {
  color: #EEB111;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
}

.menu-item:hover .details h3 a {
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.menu-item .details p {
  margin: 0.5rem 0;
}

.menu-item .details span a {
  color: #4A90E2;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .menu {
    width: 100%;
    border: none;
  }

  .menu-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 1rem;
  }

  .menu-item .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 100%;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  background-color: white;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  padding-left: 1.5rem;
}

header.desktop {
  height: 5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header.desktop #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.75rem;
  text-transform: uppercase;
  font-weight: bold;
}

header.desktop #logo img {
  display: block;
  max-height: 100%;
  width: auto;
}

header.desktop #logo h3 {
  color: #EEB111;
  font-size: 1.875rem;
}

header.desktop #logo span {
  color: black;
  font-weight: normal;
  opacity: 0.75;
}

header.desktop .resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 5rem;
}

header.desktop .resources .language {
  margin-top: 0.5rem;
  margin-right: 3rem;
}

header.desktop .resources .language a {
  margin-right: 0.5rem;
}

header.desktop .resources .language > i {
  margin-left: 0.5rem;
}

header nav {
  margin-right: 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav a:last-child {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.3125rem;
  background-color: #EEB111;
}

header nav a:last-child:hover {
  background-color: #F0B828;
}

header.desktop nav {
  margin-top: 1.25rem;
}

header.desktop nav a {
  margin-left: 1rem;
  color: black;
  text-decoration: none;
}

header.desktop nav a:hover {
  color: gray;
}

header.desktop nav a:last-child {
  color: white;
}

@media (max-width: 768px) {
  header.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header.mobile nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  header.mobile nav a:last-child {
    margin-left: -0.5rem;
  }

  header.mobile nav img {
    height: 1.5rem;
    width: auto;
  }
}

/* Main Content Container */

main {
  position: relative;
  background-color: rgba(243, 245, 245, 0.5);
  top: 5rem;
  overflow: hidden;
  z-index: 1;
  border-bottom: 1px solid gray;
}

main:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  z-index: -1;
}

@media (max-width: 768px) {
  main {
    top: 4rem;
  }
}

/* Main Banner Section */

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.no-cssgradients #banner {
  background: #003F72;
}

.cssgradients #banner {
  background: -webkit-gradient(linear, left top, right bottom, from(#003F72), to(#406F95));
  background: linear-gradient(to bottom right, #003F72, #406F95);
}

#banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#banner #headline {
  width: 40%;
  text-shadow: 1px 1px 2px black;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding: 1rem 0;
}

#banner #headline h1 {
  color: white;
}

#banner #headline p {
  padding-top: 1.5rem;
  font-size: 2rem;
}

#banner #headline .button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 0;
  width: 80%;
  border: 2px solid black;
  border-radius: 500rem;
  background-color: #EEB111;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  font-size: 1.5rem;
}

#banner #headline .button:hover {
  background-color: #F0B828;
}

@media (max-width: 768px) {
  #banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  #banner .banner {
    width: 100%;
    padding: 0;
  }

  #banner .banner img {
    max-width: 100%;
  }

  #banner #headline {
    width: 100%;
    margin: 2rem 1rem;
  }
}

/* Information Section */

#info .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

#info .banner img {
  visibility: hidden;
}

#info .banner h2 {
  padding-top: 2rem;
}

#info .banner p {
  padding-top: 1.5rem;
  font-size: 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
}

#info .banner span {
  padding-top: 0.5rem;
  color: gray;
}

#info .menu {
  border-left: 1px solid gray;
}

#info .menu-item:first-child {
  margin-top: 2rem;
  border-bottom: 1px solid gray;
}

#info .menu-item:last-child {
  margin-bottom: 2rem;
  border-top: 1px solid gray;
}

#info .menu-item img.mobile {
  display: none;
}

@media (max-width: 768px) {
  #info .container {
    width: 100%;
  }

  #info .banner {
    display: none;
  }

  #info .menu-item:first-child {
    margin-top: 0;
  }

  #info .menu-item:last-child {
    margin-bottom: 0;
  }

  #info .menu-item img.desktop {
    display: none;
  }

  #info .menu-item img.mobile {
    display: block;
    max-width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* Learn Section */

.no-cssgradients #learn {
  background: #003F72;
}

.cssgradients #learn {
  background: -webkit-gradient(linear, left bottom, right top, from(#003F72), to(#406F95));
  background: linear-gradient(to top right, #003F72, #406F95);
}

#learn .container {
  max-width: 100%;
  padding: 2rem 4.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

#learn h2 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#learn #subjects {
  padding: 2rem 0;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-gap: 2rem;
}

#learn #subjects .subject {
  display: block;
  background-color: white;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  color: gray;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}

#learn #subjects .subject:hover {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.75);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#learn #subjects .subject img {
  width: 100%;
  border-bottom: 1px solid black;
}

#learn #subjects .subject figcaption {
  padding: 1rem 0 1.5rem 1rem;
}

#learn #subjects .subject figcaption span {
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 0;
  color: black;
}

@media (max-width: 768px) {
  #learn #subjects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  #learn #subjects .subject {
    margin-bottom: 0.5rem;
    -webkit-transition: background-color 0.25s,
    text-shadow 0.25s;
            transition: background-color 0.25s,
    text-shadow 0.25s;
  }

  #learn #subjects .subject:last-child {
    margin-bottom: 0;
  }

  #learn #subjects .subject img {
    display: none;
  }

  #learn #subjects .subject figcaption span,
  #learn #subjects .subject figcaption p {
    display: none;
  }

  #learn #subjects .subject:hover {
    background-color: #EEB111;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -webkit-transform: none;
            transform: none;
  }

  #learn #subjects .subject:hover h3 {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  }
}

/* Thesis Exhibit(s) Section */

#thesis h2 {
  margin: 2rem 0;
  text-align: center;
}

#thesis .banner {
  padding-top: 0;
  margin-bottom: 2rem;
}

#thesis .banner h3 {
  padding-top: 2rem;
}

#thesis .banner p {
  padding-top: 0.5rem;
}

@media (max-width: 768px) {
  #thesis .banner {
    width: 100%;
    padding: 0;
  }

  #thesis .banner h3,
  #thesis .banner p,
  #thesis .menu {
    display: none;
  }
}

/* Footer */

footer {
  background-color: #F3F5F5;
  color: gray;
  font-size: 0.75rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .container {
  padding: 1rem 1.5rem;
}

footer .container .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
}

footer .container .copyright .font-awesome {
  display: none;
}

footer .container nav a {
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }

  footer .container .copyright .font-awesome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    -webkit-transition: all 0.25s;
            transition: all 0.25s;
  }

  footer .container .copyright .font-awesome a:nth-child(2) {
    padding: 0 0.5rem;
  }

  footer .container nav {
    display: none;
  }
}
